<ion-view view-title="File">
  <ion-content class="padding">
    <button class="button button-positive" ng-click="download()">Descargar archivo</button>
    <button class="button button-positive" ng-click="open()" ng-disabled="!downloaded">Abrir archivo local</button>
    <button class="button button-positive" ng-click="inAppBrowser()">Abrir inapp browser (externo)</button>
    <button class="button button-positive" ng-click="share()" ng-disabled="!downloaded">compartir archivo</button>
  </ion-content>
</ion-view>
