<ion-view view-title="Dashboard">
  <ion-content class="padding">
   <button ng-click="newNotification()">Encolar notificacion</button>
   <h2>En cola</h2>
   <ul>
     <li ng-repeat="notification in notifications">{{notification.id}}</li>
   </ul>
  </ion-content>
</ion-view>
