<ion-view view-title="Account">
  <ion-content class="padding">
    <button type="button" name="button" class="button button-positive button-lg" ng-click="scan()">scan camara</button>
    <button type="button" name="button" class="button button-positive button-lg" ng-click="scanPartial()">scan parcial</button>
    <button type="button" name="button" class="button button-positive button-lg" ng-click="scanImage()">scan imagen</button>
    <button type="button" name="button" class="button button-positive button-lg" ng-disabled="!scanning" ng-click="stopScanning()">Detener</button>
    <img ng-src="img/barcode.png" alt="" />
  </ion-content>
</ion-view>
