<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Notificaciones" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Descarga pdf" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/file">
    <ion-nav-view name="tab-file"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Scanner" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
